@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-default: #fefaff;
  --background-secondary: #f1e4f1;
  --border-default: #e2aeef;
  --border-secondary: #8800b8;
  --text-default: #1c1c1c;
  --text-secondary: #3f3f3f;
  --text-white: #fafafa;
  --title-primary: #583767;
  --title-secondary: #1c1c1c;
  --button-focus: #8800B880;
}
